$white: hsl(0,0%,96%);


html {
    background-image: url("../images/overlay.png"), url("../images/bg.jpg");
    background-size: 25%, cover; background-repeat:no-repeat; 
    padding: 75px 0% 25px 0%;

}
body{
    width: 80vw;
   background-color: $white;
   border-radius: 10px 10px 0 0;
    margin: 0 auto;

}
ul{
    display: flex;
    padding: 25px;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
}
header{
    height: 600px;
    background-image: linear-gradient(hsla(286,90%,90%,.2), hsla(233,45%,3%, .2)), url('../images/pic01.jpg');
    background-size: cover;
    background-position: left 68px;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
}
div{
    background-color: orangered;
    width: 50vw;
    text-align: center;
    padding: 50px;
    margin: auto;
    
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px
}
a{
    border:  2px solid white;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
}