html{
    background-color:lightblue;
}
section{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;

    align-content: flex-end;
    background-color: magenta;
}
div{
    flex: 1;
    width: 100px;
    height: 100px;
background-color:lightcoral;
margin: 5px;
}

div:nth-child(4){
    align-self: flex-start;
    background-color:darkcyan;
}