$keycolor: hsl(181,100%,41%);
$white: hsl(0,0%,96%);
$black: hsl(0,0%,8%);
body{
    font-family: sans-serif;
    text-transform: uppercase;
}
header{
    padding: 10vw 2vw;
    background-color:$keycolor;
    text-align: center;
    color: $white

}
// pseudo class link
 a:link{
color: inherit;
}
a:visited{
    color: greenyellow;
}
a :active{
    color: goldenrod;
}
// psuedo class hover
a:hover{
    color: indianred;
}
a{
    color: inherit;
}

a.btn{
    background-color: transparentize($black, .75);
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 200ms;
    transform: rotate(0deg);
}
a.btn:hover{
    background-color: transparentize($black, .90);
    font-size: 20px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1{
    font-size: 40px;
    font-weight: 200;
}

h2{
    font-weight: 100;
    margin: 50px;
}
#features h2{
    border-bottom: 3px double $black;
    display: inline-block;
}

header div{
    width: 30%;
    padding: 5vw;    
    border-width: 3px 1px;
    border-style: double solid;
    border-color: $white;
    margin: 0 auto;
}
#features{
    text-align: center;
}

#features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
        width: 25%;
        padding: 40px;
        border: 1px solid $black;
        margin-left: -1px;
        margin-top: -1px;
    }
    i{
        font-size: 300%;
        color: $keycolor;
    }
}

.content {
    padding: 10vw 2vw; //10vw 2vw 10vw 2vw
    text-align: center;
    background-color: lightgray;

}

.ending {
background-color:white;
display: flex;

}

