body{
    background-color: lightblue;
}

.button {
    border-radius: 4px;
    background-color:gray;
    border: none;
    color: black;
    cursor: pointer;

  }
  
  .button span {
    transition: .3s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }

  .after:hover{
    background-color: white;
    border-radius: 5px;
    // opacity: .5;
    transition: all 2s;
    cursor: pointer;

  }