// @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Mina");
html {
  background-image: url("../Img/kawasaki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Mina", sans-serif;
}

header {
  text-align: center;
  display: flex;
  height: 200px;
}
.img1 {
  flex-direction: column;
  margin-left: 47%;
  // margin-right: 50%;
  .img-circle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0;
    padding: 0;
  }
  figcaption {
    color: black;
    font-weight: 600;
    background-color: azure;
    opacity: 0.7;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
  }
}
#columns {
  display: flex;
  justify-content: center;
//   margin: 3px;
//   justify-content: sp
}
// div{
//     // display:block;
//     position: relative;
//     width: 200px;
//     height: 200px;
//     border-radius: 5px;
//     margin: 0;
// }.
.project {
//   display:block;
  position: relative;
  width: 200px;
  height: 200px;
  border:none;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}
img {
  width: 100%;
  height: 100%;
}
.fa-child {
  margin-top: 20px;
  animation: bounce 1s infinite alternate;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease;
  background-color: lightblue;
}
div:hover .overlay {
  opacity: 1;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  font-weight: 100;
  opacity: 0.7;
}
.info {
  text-align: center;
  color: black;
  font-weight: 600;
  background-color: azure;
  opacity: 0.7;
  border-radius: 10px;
  border: 2px solid black;
  width:20%;
  padding: 5px;
  margin:auto;
}
p {
  top: 40px;
  pointer-events: none;
}
h1{
    margin:0;
    padding: 0;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
